@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    vertical-align: top;
}

body {
    color: #333;
    background-color: #fff;
}




.wrap {
    height: 920px;
    position: relative;
    min-width: 1000px;
}


.top {
    width: 100%;
    height: 800px;
    display: flex;
}

header {
    width: 200px;
    height: 100%;
}

header>a {
    display: block;
    width: 200px;
    height: 40px;
    margin-top: 30px;
}

nav {
    width: 200px;
    text-align: center;
    margin-top: 30px;
}

nav>ul {
    width: 100%;
}

nav>ul>li {
    position: relative;
}

nav>ul>li>a {
    background-color: bisque;
    display: block;
    height: 50px;
    align-content: center;
    font-weight: bold;
    font-size: 18px;
}

nav>ul>li>a.on,
nav>ul>li:hover>a {
    background-color: #6b4b3c;
    color: #fff;

}

.sub {
    width: 800px;
    position: absolute;
    top: 0;
    left: 200px;
    z-index: 99;
    display: none;
}

.sub>li {
    float: left;
}

.sub>li>a {
    display: block;
    width: 200px;
    height: 50px;
    align-content: center;
    color: #fff;
}

.sub>li>a.on,
.sub>li:hover>a {
    background-color: #fff;
    color: #333;

}

.n_back {
    width: calc(100% - 200px);
    height: 200px;
    background-color: #333;
    position: absolute;
    top: 100px;
    left: 200px;
    z-index: 9;
    display: none;

}






.main {
    width: calc(100% - 200px);
    height: 100%;
}

.slide {
    width: 100%;
    height: 400px;
    position: relative;
}

.slide>ul {
    width: 100%;
    height: 400px;
}

.slide>ul>li {
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
}

.slide>ul>li>a {
    display: block;
    width: 100%;
    height: 400px;
    align-content: end;
}

.slide>ul>li>a .s_text {
    background-color: rgb(0, 0, 0, 0.5);
    color: #fff;
    padding: 40px 50px;
}

.slide>ul>li>a .s_text p {
    font-size: 20px;
    margin-bottom: 10px;
}

.slide>ul>li>a .s_text h2 {
    font-size: 30px;
}


.slide .s1 {
    background: url(/images/img1.jpg) no-repeat center/cover;
    z-index: 3;
}

.slide .s2 {
    background: url(/images/img2.jpg) no-repeat center/cover;
    z-index: 2;
}

.slide .s3 {
    background: url(/images/img3.jpg) no-repeat center/cover;
    z-index: 1;
}




.direct {
    width: 100%;
    height: 150px;
    align-content: center;
    text-align: center;
    background-color: bisque;

}

.direct>ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 0 10px;
}

.direct>ul>li {}

.direct>ul>li>a {
    display: block;
    width: 100%;
}

.direct>ul>li>a>p {
    margin-top: 10px;
}




.cont {
    width: 100%;
    height: 250px;
    display: flex;
}

.cont h2 {
    width: 200px;
    display: inline-block;
    padding: 20px 20px 0 20px;
    border-bottom: 2px solid #333;
    margin-bottom: 20px;
}

.notice {
    width: 50%;
    height: 100%;
}

.notice>ul {
    padding-right: 20px;
}

.notice>ul>li {}

.notice>ul>li>a {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    margin: 5px 0;
}

.notice>ul>li:hover>a {
    color: #6b4b3c;
}

.notice>ul>li>a .tt {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}







.gall {
    width: 50%;
    height: 100%;
}

.gall>ul {
    display: flex;
    align-items: center;
    gap: 30px;

}


.gall>ul>li>a {}

.gall>ul>li:hover>a {
    opacity: 0.7;
}



footer {
    width: 100%;
    height: 120px;
    background-color: #dadada;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding-left: 200px;
}

footer .f_menu {}

footer .f_menu>ul {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 0;

}

footer .f_menu>ul>li {
    padding-right: 20px;
    border-right: 1px solid #333;
    margin-right: 10px;
}

footer .f_menu>ul>li:last-of-type {
    border: none;
}


footer .famm {
    width: 200px;
}

footer .famm select {
    width: 150px;
    height: 30px;
}

.pop {
    width: 500px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #333;
    padding: 30px;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    display: none;
}

.pop>h3 {
    padding: 20px 0;
}

.pop>h3>span {
    display: block;
    margin-top: 5px;
}

.pop>p {
    line-height: 25px;
}

.pop .pop_off {
    cursor: pointer;
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.pop .pop_off:hover {
    color: #6b4b3c;
}